app/Admin/Conf/xsd/baseinfoxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
attributeFormDefault="unqualified">
 <xs:element name="basicInfo">
 <xs:annotation>
 <xs:documentation>上报数据；调用 8.3 file_load 方法上报</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:choice>
 <xs:element name="newInfo">
 <xs:annotation>
 <xs:documentation>新增基础数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="idcId" type="xs:string">
 <xs:annotation>
 <xs:documentation>电信管理部门颁发的 IDC 许可证号
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcName" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 经营者名称，与许可证上名称一致
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcAdd" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>经营者通信地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcZip" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 对 应 经 营 者 通 信 地 址 的 邮 编
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="corp" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>企业法人</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcOfficer" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 网 络 信 息 安 全 责 任 人 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="emergencyContact" minOccurs="0">
 <xs:annotation>
 <xs:documentation>紧急联系人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:time">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="houseInfo" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>机房信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="houseId" type="xs:long">
 <xs:annotation>
 <xs:documentation>当前机房 ID，由 IDC 或
ISP 经营者产生，在本单位中唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseName" type="xs:string">
 <xs:annotation>
 <xs:documentation> 机 房 名 称
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 机 房 性 质
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseProvince" type="xs:long">
 <xs:annotation>
 <xs:documentation>机房所在省的行政区划
代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseCity" type="xs:long">
 <xs:annotation>
 <xs:documentation>机房所在市的行政区划
代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseCounty" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>机房所在县的行政区划
代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseAdd" type="xs:string">
 <xs:annotation>
 <xs:documentation> 机 房 的 通 信 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseZip" type="xs:string">
 <xs:annotation>
 <xs:documentation> 通 信 地 址 的 邮 编
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseOfficer">
 <xs:annotation>
 <xs:documentation>机房网络信息安全责任
人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证
件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="gatewayInfo" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 链 路 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation> 链 路 信 息
编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="bandWidth" type="xs:long">
 <xs:annotation>
 <xs:documentation> 链 路 信 息
带宽单位（兆比特） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="gatewayIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>网关 IP 地
址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="linkType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 链 路 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="accessUnit" type="xs:string">
 <xs:annotation>
 <xs:documentation> 链 路 接 入
单位信息</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="ipSegInfo" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地 址 段 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation>IP 地址 段
信息编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="startIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>起始 IP 地
址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>终止 IP 地
址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="type" type="xs:integer">
 <xs:annotation>
 <xs:documentation>IP 地址 使
用方式，包括；
0-静态；
1-动态；
2-保留。
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="user" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>使用该 IP
段的单位名称，如果是个人需要填写姓名 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 使 用 人 证
件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idNumber" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 对 应 的 证
件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="sourceUnit" type="xs:string">
 <xs:annotation>
 <xs:documentation> 来 源 单 位
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="allocationUnit" type="xs:string">
 <xs:annotation>
 <xs:documentation> 分 配 单 位
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="useTime" type="xs:string">
 <xs:annotation>
 <xs:documentation> 分 配 使 用
时间采用 yyyy-MM-dd 格式</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="frameInfo" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 机 架 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation> 机 架 信 息
编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="useType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 使 用 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="distribution" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 分 配 状 态
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="occupancy" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 占 用 状 态
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="frameName" type="xs:string">
 <xs:annotation>
 <xs:documentation> 机 位 名 称 </xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="userInfo" minOccurs="0"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>用户数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation>用户唯一 ID，由 IDC/ISP
经营者产生，在本单位中唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="nature" type="xs:integer">
 <xs:annotation>
 <xs:documentation>1、 提供互联网应用服务
的用户
2、 其他用户 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="info">
 <xs:annotation>
 <xs:documentation> 用 户 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="unitName" type="xs:string">
 <xs:annotation>
 <xs:documentation> 单 位 名 称
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="unitNature" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 单 位 属 性
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idNumber" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="officer">
 <xs:annotation>
 <xs:documentation> 网 络 信 息
安全责任人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation>人员姓名 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation>人员的证件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation>证件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation>固定电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation>移动电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="add" type="xs:string">
 <xs:annotation>
 <xs:documentation> 单 位 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="zipCode"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 邮 政 编 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:choice>
 <xs:element name="serviceInfo"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 服 务
信息，提供互联网应用服务的用户必填</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element
name="serviceId" type="xs:long">
 <xs:annotation>
 <xs:documentation>服务信息 ID 标识，该用户内唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="serviceContent" type="xs:integer" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>服务内容</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="regType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网站登记备案类型，网站必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="regId" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网站备案号或许可证号，网站必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="setMode" type="xs:integer">
 <xs:annotation>
 <xs:documentation>接入方式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="business" type="xs:integer">
 <xs:annotation>
 <xs:documentation>业务类型 1-IDC 业务 2-ISP
业务</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="domain" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>域名</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation>域名 ID 标识</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation>域名</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element
name="housesHoldInfo" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>占用机房信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="hhId" type="xs:long">
 <xs:annotation>
 <xs:documentation>占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseId" type="xs:long">
 <xs:annotation>
 <xs:documentation>IDC/ISP 机房 ID</xs:documentation>

 </xs:annotation>
 </xs:element>
 <xs:element name="distributeTime" type="xs:string">
 <xs:annotation>
 <xs:documentation>分配时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="bandWidth" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网络带宽</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="ipTrans" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地址转换信息，存在内外网转换的需要填写私网 IP 地址</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="internetIp">
 <xs:annotation>
 <xs:documentation>互联网 IP 地址段</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="stratIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>互联网起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>互联网终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="netIp" minOccurs="0">
 <xs:annotation>
 <xs:documentation>对应私网 IP 地址段</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="startIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>对应的私网起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>对应的私网终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="frameInfoId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>机架编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="virtualServer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>虚拟主机信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="virtualhostName" type="xs:string"/>
 <xs:element name="virtualhostState" type="xs:integer" minOccurs="0"/>
 <xs:element name="virtualhostType" type="xs:integer"/>
 <xs:element name="virtualhostAddress" type="xs:string"/>
 <xs:element name="virtualhostManagementAddress" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="houseHoldInfo"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 占 用
机房信息，其他用户必填</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element
name="hhId" type="xs:long">
 <xs:annotation>
 <xs:documentation>占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="houseId" type="xs:long">
 <xs:annotation>
 <xs:documentation>IDC/ISP 机房 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="bandWidth" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网络带宽</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="distributeTime" type="xs:string">
 <xs:annotation>
 <xs:documentation>分配时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="ipSeg" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地址信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="ipId" type="xs:long"/>
 <xs:element name="startIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:choice>
 <xs:element name="registerTime" type="xs:string">
 <xs:annotation>
 <xs:documentation> 用 户 的 注
册时间，采用 yyyy-MM-dd 格式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="serviceRegTime"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 服 务 开 通
时间，当用户属性为其他用户信息时，必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="houseCount" type="xs:long" minOccurs="0"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="updateInfo">
 <xs:annotation>
 <xs:documentation>修改基础数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="idcId" type="xs:string">
 <xs:annotation>
 <xs:documentation>电信管理部门颁发的 IDC/ISP 许可证号
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcName" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 经营者名称，与许可证上名称一致
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcAdd" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>经营者通信地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcZip" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 对 应 经 营 者 通 信 地 址 的 邮 编
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="corp" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>企业法人</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcOfficer" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 网 络 信 息 安 全 责 任 人 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="emergencyContact" minOccurs="0">
 <xs:annotation>
 <xs:documentation>紧急联系人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="updateData" minOccurs="0">
 <xs:annotation>
 <xs:documentation>更新数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="houseInfo" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 机 房 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="houseId"
type="xs:long">
 <xs:annotation>
 <xs:documentation> 当 前 机 房
ID，由 IDC 或 ISP 经营者产生，在本单位中唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseName"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 机 房 名 称
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseType"
type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 机 房 性 质
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseProvince"
type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 机 房 所 在
省的行政区划代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseCity" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 机 房 所 在
市的行政区划代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseCounty"
type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 机 房 所 在
县的行政区划代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseAdd"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 机 房 的 通
信地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseZip"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 通 信 地 址
的邮编</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseOfficer"
minOccurs="0">
 <xs:annotation>
 <xs:documentation> 机 房 网 络
信息安全责任人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation>人员姓名</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation>人员的证件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation>证件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel"
type="xs:string">
 <xs:annotation>
 <xs:documentation>固定电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation>移动电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email"
type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="gatewayInfo"
minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 链 路 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id"
type="xs:long">
 <xs:annotation>
 <xs:documentation>链路编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="bandWidth" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>链路带宽单位（兆比特） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="gatewayIp" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网关 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="linkType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>链路类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="accessUnit" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>链路接入单位信息</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="ipSegInfo"
minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP地址段信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id"
type="xs:long">
 <xs:annotation>
 <xs:documentation>IP 地址段信息编号ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="startIp" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="type"
type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>IP 地址使用方式，包括；
0-静态；
1-动态；
2-保留。
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="user"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>使用该 IP 段的单位名称，如果是个人需要填写姓名 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="idType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>使用人证件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idNumber" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>对应的证件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="useTime" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>分配使用时间采用 yyyy-MM-dd 格式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="sourceUnit" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>来源单位</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="allocationUnit" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>分配单位</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="frameInfo"
minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 机 架 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id"
type="xs:long">
 <xs:annotation>
 <xs:documentation>机架信息编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="useType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>使用类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="distribution" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>分配状态</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="occupancy" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>占用状态</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="frameName" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>机位名称</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="userInfo" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 用 户 数 据
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation> 用 户 唯 一
ID，由 IDC/ISP 经营者产生，在本单位中唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="nature"
type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>1、 提供互
联网应用服务的用户
2、 其他用户 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="info"
minOccurs="0">
 <xs:annotation>
 <xs:documentation> 用 户 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element
name="unitName" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>单位名称</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="unitNature" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>单位属性</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="idType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>证件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="idNumber" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>证件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="officer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网络信息安全责任人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element
name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation>人员姓名 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation>人员的证件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation>证件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation>固定电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation>移动电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="add"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>单位地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="zipCode" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>邮政编码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:choice>
 <xs:element
name="serviceInfo" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>服务信息，提供互联网应用服务的用户必填</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="serviceId" type="xs:long">
 <xs:annotation>
 <xs:documentation>服务信息 ID 标识，该用户内唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="serviceContent" type="xs:integer" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>服务内容</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="regType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网站登记备案类型，网站必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="regId" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网站备案号或许可证号，网站必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="setMode" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>接入方式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="business" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>业务类型 1-IDC 业务 2-ISP
业务</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="domain" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>域名</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="Id" type="xs:long">
 <xs:annotation>
 <xs:documentation>域名 ID 标识</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="name" minOccurs="0">
 <xs:annotation>
 <xs:documentation>域名</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="housesHoldInfo" minOccurs="0">
 <xs:annotation>
 <xs:documentation>占用机房信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="hhId" type="xs:long">
 <xs:annotation>
 <xs:documentation>占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>IDC/ISP 机房 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="distributeTime" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>分配时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="bandWidth" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网络带宽</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="ipTrans" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地址转换信息，存在内外网转换的需要填写私网 IP 地址
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="internetIp">
 <xs:annotation>
 <xs:documentation>互联网 IP 地址段</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="stratIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>互联网起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>互联网终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="netIp" minOccurs="0">
 <xs:annotation>
 <xs:documentation>对应私网 IP 地址段</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="startIp" type="xs:string">
 <xs:annotation>
 <xs:documentation> 对 应 的 私 网 起 始 IP 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation> 对 应 的 私 网 终 止 IP 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="frameInfoId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>机架编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="virtualServer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>虚拟主机信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="virtualhostName" type="xs:string"/>
 <xs:element name="virtualhostState" type="xs:integer" minOccurs="0"/>
 <xs:element name="virtualhostType" type="xs:integer"/>
 <xs:element name="virtualhostAddress" type="xs:string"/>
 <xs:element name="virtualhostManagementAddress" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="houseHoldInfo" minOccurs="0">
 <xs:annotation>
 <xs:documentation>占用机房信息，其他用户必填</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="hhId" type="xs:long">
 <xs:annotation>
 <xs:documentation>占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>IDC/ISP 机房 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="bandWidth" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网络带宽</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="ipSeg" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地址信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="ipId" type="xs:long"/>
 <xs:element name="startIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="distributeTime" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>分配时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:choice>
 <xs:element
name="registerTime" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>用户的注册时间，采用 yyyy-MM-dd 格式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="serviceRegTime" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>服务开通时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="deleteInfo">
 <xs:annotation>
 <xs:documentation>删除基础数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="idcId" type="xs:string">
 <xs:annotation>
 <xs:documentation>电信管理部门颁发的 IDC/ISP 许可证号
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="deleteData" minOccurs="0">
 <xs:annotation>
 <xs:documentation>删除数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="house" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 删 除 的 机 房 数 据
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="houseId" type="xs:long">
 <xs:annotation>
 <xs:documentation> 指 定 删 除
的 houseID 或者是需要从中删除互联网出入口、 IP 段的 houseID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="gatewayId"
type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 指 定 删 除
的互联网出入口 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="ipSegId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 指 定 删 除
的 IP 段 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="user" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 删 除 的 用 户 数 据
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="userId" type="xs:long">
 <xs:annotation>
 <xs:documentation> 指 定 删 除
的 useID 或者是需要从中删除应用服务、占用机房的 userID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 删 除 的 应
用服务数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element
name="serviceId" type="xs:long">
 <xs:annotation>
 <xs:documentation> 指 定 删 除 的 应 用 服 务 ID 或 需 要 从 中 删 除 域 名 或 占 用 机 房 的 应 用 服 务
ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="domainId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>删除的应用服务域名 ID（ userID 与 serviceID 必填） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="hhId"
type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>删除的应用服务占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="hhId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 删 除 的 其
他类用户占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="queryResult">
 <xs:annotation>
 <xs:documentation>全量上报的信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="commandId" type="xs:long">
 <xs:annotation>
 <xs:documentation>对应的查询指令 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcId" type="xs:string">
 <xs:annotation>
 <xs:documentation>电信管理部门颁发的 IDC 许可证号
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcName" type="xs:string">
 <xs:annotation>
 <xs:documentation> 经营者名称，与许可证上名称一致
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcAdd" type="xs:string">
 <xs:annotation>
 <xs:documentation>经营者通信地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcZip" type="xs:string">
 <xs:annotation>
 <xs:documentation> 对 应 经 营 者 通 信 地 址 的 邮 编
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="corp" type="xs:string">
 <xs:annotation>
 <xs:documentation>企业法人</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idcOfficer">
 <xs:annotation>
 <xs:documentation> 网 络 信 息 安 全 责 任 人 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="emergencyContact">
 <xs:annotation>
 <xs:documentation>紧急联系人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel" type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email" type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="houseInfo" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>机房信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="houseId" type="xs:long">
 <xs:annotation>
 <xs:documentation>当前机房 ID，由 IDC 或
ISP 经营者产生，在本单位中唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseName" type="xs:string">
 <xs:annotation>
 <xs:documentation> 机 房 名 称
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseType" type="xs:integer">
 <xs:annotation>
 <xs:documentation> 机 房 性 质
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseProvince" type="xs:long">
 <xs:annotation>
 <xs:documentation>机房所在省的行政区划
代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseCity" type="xs:long">
 <xs:annotation>
 <xs:documentation>机房所在市的行政区划
代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseCounty" type="xs:long"
minOccurs="0">
 <xs:annotation>
 <xs:documentation>机房所在县的行政区划
代码，参见《中华人民共和国行政区划代码》（ GB/T 2260-2007） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseAdd" type="xs:string">
 <xs:annotation>
 <xs:documentation> 机 房 的 通 信 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseZip" type="xs:string">
 <xs:annotation>
 <xs:documentation> 通 信 地 址 的 邮 编
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseOfficer">
 <xs:annotation>
 <xs:documentation>机房网络信息安全责任
人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 人 员 姓 名
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType"
type="xs:integer">
 <xs:annotation>
 <xs:documentation> 人 员 的 证
件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id" type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 固 定 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="mobile"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 移 动 电 话
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email"
type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="gatewayInfo"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 链 路 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation> 链 路 信 息
编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="bandWidth"
type="xs:long">
 <xs:annotation>
 <xs:documentation> 链 路 信 息
带宽单位（兆比特） </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="gatewayIp"
type="xs:string">
 <xs:annotation>
 <xs:documentation>网关 IP 地
址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="linkType"
type="xs:integer">
 <xs:annotation>
 <xs:documentation> 链 路 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="accessUnit"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 链 路 接 入
单位信息</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="ipSegInfo"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地 址 段 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation>IP 地址 段
信息编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="startIp"
type="xs:string">
 <xs:annotation>
 <xs:documentation>起始 IP 地
址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp"
type="xs:string">
 <xs:annotation>
 <xs:documentation>终止 IP 地
址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="type"
type="xs:integer">
 <xs:annotation>
 <xs:documentation>IP 地址 使
用方式，包括；
0-静态；
1-动态；
2-保留。
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="user"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>使用该 IP
段的单位名称，如果是个人需要填写姓名 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType"
type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 使 用 人 证
件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idNumber"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 对 应 的 证
件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="useTime"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 分 配 使 用
时间采用 yyyy-MM-dd 格式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="sourceUnit"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 来 源 单 位
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="allocationUnit"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 分 配 单 位
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="frameInfo"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 机 架 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation> 机 架 信 息
编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="useType"
type="xs:integer">
 <xs:annotation>
 <xs:documentation> 使 用 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="distribution"
type="xs:integer">
 <xs:annotation>
 <xs:documentation> 分 配 状 态
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="occupancy"
type="xs:integer">
 <xs:annotation>
 <xs:documentation> 占 用 状 态
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="frameName"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 机 位 名 称
</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="userInfo" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>用户数据</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation>用户唯一 ID，由 IDC/ISP
经营者产生，在本单位中唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="nature" type="xs:integer">
 <xs:annotation>
 <xs:documentation>1、 提供互联网应用服务
的用户
2、 其他用户 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="info">
 <xs:annotation>
 <xs:documentation> 用 户 信 息
</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="unitName"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 单 位 名 称
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="unitNature"
type="xs:integer">
 <xs:annotation>
 <xs:documentation> 单 位 属 性
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idType"
type="xs:integer">
 <xs:annotation>
 <xs:documentation> 证 件 类 型
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="idNumber"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 证 件 号 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="officer">
 <xs:annotation>
 <xs:documentation> 网 络 信 息
安全责任人信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name"
type="xs:string">
 <xs:annotation>
 <xs:documentation>人员姓名 </xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="idType" type="xs:integer">
 <xs:annotation>
 <xs:documentation>人员的证件类型</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="id"
type="xs:string">
 <xs:annotation>
 <xs:documentation>证件号码</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="tel"
type="xs:string">
 <xs:annotation>
 <xs:documentation>固定电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="mobile" type="xs:string">
 <xs:annotation>
 <xs:documentation>移动电话</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="email"
type="xs:string">
 <xs:annotation>
 <xs:documentation>Email 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="add"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 单 位 地 址
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="zipCode"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 邮 政 编 码
</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:choice>
 <xs:element name="serviceInfo"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 服 务
信息，提供互联网应用服务的用户必填</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element
name="serviceId" type="xs:long">
 <xs:annotation>
 <xs:documentation>服务信息 ID 标识，该用户内唯一</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="serviceContent" type="xs:integer" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>服务内容</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="regType" type="xs:integer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网站登记备案类型，网站必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="regId" type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网站备案号或许可证号，网站必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="setMode" type="xs:integer">
 <xs:annotation>
 <xs:documentation>接入方式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="business" type="xs:integer">
 <xs:annotation>
 <xs:documentation>业务类型 1-IDC 业务 2-ISP
业务</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="domain" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>域名</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="id" type="xs:long">
 <xs:annotation>
 <xs:documentation>域名 ID 标识</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="name" type="xs:string">
 <xs:annotation>
 <xs:documentation>域名</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element
name="housesHoldInfo" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>占用机房信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="hhId" type="xs:long">
 <xs:annotation>
 <xs:documentation>占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="houseId" type="xs:long">
 <xs:annotation>
 <xs:documentation>IDC/ISP 机房 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="distributeTime" type="xs:string">
 <xs:annotation>
 <xs:documentation>分配时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="bandWidth" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网络带宽</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="ipTrans" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地址转换信息，存在内外网转换的需要填写私网 IP 地址</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="internetIp">
 <xs:annotation>
 <xs:documentation>互联网 IP 地址段</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="stratIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>互联网起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>互联网终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="netIp" minOccurs="0">
 <xs:annotation>
 <xs:documentation>对应私网 IP 地址段</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="startIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>对应的私网起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>对应的私网终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="frameInfoId" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>机架编号 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="virtualServer" minOccurs="0">
 <xs:annotation>
 <xs:documentation>虚拟主机信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="virtualhostName" type="xs:string"/>
 <xs:element name="virtualhostState" type="xs:integer" minOccurs="0"/>
 <xs:element name="virtualhostType" type="xs:integer"/>
 <xs:element name="virtualhostAddress" type="xs:string"/>
 <xs:element name="virtualhostManagementAddress" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 <xs:element name="houseHoldInfo"
maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation> 占 用
机房信息，其他用户必填</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element
name="hhId" type="xs:long">
 <xs:annotation>
 <xs:documentation>占用机房信息 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="houseId" type="xs:long">
 <xs:annotation>
 <xs:documentation>IDC/ISP 机房 ID</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="bandWidth" type="xs:long" minOccurs="0">
 <xs:annotation>
 <xs:documentation>网络带宽</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="distributeTime" type="xs:string">
 <xs:annotation>
 <xs:documentation>分配时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element
name="ipSeg" maxOccurs="unbounded">
 <xs:annotation>
 <xs:documentation>IP 地址信息</xs:documentation>
 </xs:annotation>
 <xs:complexType>
 <xs:sequence>
 <xs:element name="startIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>起始 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="endIp" type="xs:string">
 <xs:annotation>
 <xs:documentation>终止 IP 地址</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="ipId" type="xs:long"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:choice>
 <xs:element name="registerTime"
type="xs:string">
 <xs:annotation>
 <xs:documentation> 用 户 的 注
册时间，采用 yyyy-MM-dd 格式</xs:documentation>
 </xs:annotation>
 </xs:element>
 <xs:element name="serviceRegTime"
type="xs:string" minOccurs="0">
 <xs:annotation>
 <xs:documentation> 服 务 开 通
时间，当用户属性为其他用户信息时，必填</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:choice>
 <xs:element name="timeStamp" type="xs:string">
 <xs:annotation>
 <xs:documentation>数据生成时间</xs:documentation>
 </xs:annotation>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>